.idea/
.vs/
.vscode/
**/.DS_Store

*/**/obj
*/**/bin

DownKyi.Core/Binary/*
!DownKyi.Core/Binary/osx-x64/aria2/
!DownKyi.Core/Binary/osx-arm64/aria2/

script/downloads
script/pupnet/output
script/macos/*.dmg
script/macos/*.app

*.sln.DotSettings.user